* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que ni el padding ni el border cuenten como borde extra*/
}
main {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%; /* para que no crezcan las imágenes más de su tamaño máximo de píxeles*/
}

a {
    text-decoration: none;
}
header {
    text-align: center;
}
header img {
    width: 150px;
    height: 100px;
    margin-top: 10px;
}
