@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
/*ESTILOS GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

.columna {
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}

.derecha {
    justify-content: space-between;
    padding:40px;
    font-size: 40px;
    text-align: right;
    color: black;
    flex-direction: row;
}
.centrarTexto{
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
}
.centrarParrafo {
    padding: 2%;
    text-align: center;
}
.col-1 {
    width: 8.33%;
}
.col-2 { 
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

a {
    text-decoration:none;
}

.centro {
    text-align: center;
}

div {
    display: flex;
    padding: 1%;
}



/*HEADER*/
header {
    padding: 1%;
}

/*NAVEGACION*/
nav {
    text-align: center;
    background-color:black;
}

nav ul li {
    padding: 30px;
    display: inline-block;
    position: relative;
}

nav ul li a {
    font-family: 'Press Start 2P', cursive;
    padding: 35px;
    color:#46EB7D;
}
nav a:hover {
    background-color: #46EB7D;
    color: black;
} 

h2 {
    font-family: 'Girassol', cursive;
}
h3 {
    font-family: 'Girassol', cursive;
    font-size: xx-large;
}
section div ul li h3 {
    color: rgb(25, 80, 43);
}
/*FOOTER*/
footer {
    background-color: rgba(0, 0, 0, 0.938);
    padding: 2%;
    color: #46EB7D;
    font-size: small;
    font-family: 'Press Start 2P', cursive;
}
iframe {
    width: 100%;
    height: 115%;
    padding: 3%;
}
form input {
    width: 100%;
    display: block;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}



/*NOSOTROS*/


/*ESMPRESA*/


/*CONTACTO*/